*{
	font-family: "monaco", monospace;
	font-size: 25px;
	color: black;
}

h1{
	font-family: "monaco", monospace;
	color: black;
}

#learn{
	font-family: "monaco", monospace;
	text-transform: uppercase;
	font-weight: 1000;
	color: black;
}

#llearn{
	font-family: "monaco", monospace;
	font-weight: 1000;
	color: black;
}

.offered-items{
	font-family: "monaco", monospace;
	font-size: 15px;
	color: black;
	background-color: #CECECE;
}

#tools{
	font-family: "monaco", monospace;
	font-weight: 1000;
	color: black;
}

li[class="items"]{
	font-family: "monaco", monospace;
	color: black;
	border-width: 2px;
	border-style: solid;
	border-color: deeppink;
}

#others{
	font-family: "monaco", monospace;
	font-weight: 1000;
	color: black;
}

img + ol{
	list-style-type: none;
}

body img{
	height: 300px;
	width: 300px;
	border-radius: 150px;
}

p[id="inline"] ~ p[id="innovate"]{
	text-align: center;
	font-family: "lucida handwriting", cursive;
	color: navy;
}

ol[id="olists"] > li[class="others"]{
	letter-spacing: 20px;
	font-size: 30px;
}